{erl_opts, [debug_info,
            report,
            verbose,
            warn_export_vars,
            warn_keywords,
            warn_unused_import,
            warnings_as_errors]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [troll]}
]}.

{dialyzer,
 [{warnings, [unknown, no_return, error_handling]},
  {get_warnings, true},
  {plt_apps, all_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {base_plt_apps,
   [erts,
    stdlib,
    kernel,
    runtime_tools,
    compiler,
    crypto
   ]},
  {base_plt_location, "_build/global_plt"}]}.

{xref_checks,
 [undefined_function_calls, locals_not_used, exports_not_used, deprecated_function_calls]}.

{relx, [{release, {troll, "0.0.1"}, [troll]},
        {dev_mode, true},
        {include_erts, false}]}.
